<h2 [style.background-color]="isPrimary ? 'purple' : 'blue'">{{ authors.length }} Authors</h2>
<ul>
  <li *ngFor="let author of authors">
    {{ author }}
  </li>
</ul>
<table>
  <th>Table Column</th>
  <tr>
    <td [attr.colspan]="colSpan">Table Data</td>
  </tr>
</table>
<button (click)="onClick($event)" class="btn" [class.btn-primary]="isPrimary">Save</button>
<input [(ngModel)]="email" (keyup.enter)="onKeyUp()"/>
<div>
  <p>Stat Title: {{ stats.title | uppercase }}</p>
  <p>My Rating: {{ stats.rating | number:'1.2-2' }} </p>
  <p>My Population: {{ stats.population | number }}</p>
  <p>My Money: {{ stats.money | currency }}</p>
  <p>My Birthdate: {{ stats.birthDate | date:'shortDate' }}</p>
</div>